{% extends "base.html" %}

{% block content %}
 {% for p in posts %}
   <div class="post">
     <div class="container-fluid">
       <div class="col-xs-1">
         <div class="row main-page-vote">
           <h3 class="votes">{{ p.likes }}</h3>
           <p class="text-muted">Popularity</p>
         </div>
       </div>
       <div class="col-xs-11">
         <div class="post-heading front-header">
           <div class="page-header">
             <a class="post-link" href="/blog/{{ p.key().id() }}"><h1>{{p.subject}}</h1></a>
             <h4 class="right"><small>{{p.created.strftime("%b %d, %Y")}}</small></h4>
             <h4 class="left"><small>{{p.created_by}}</small></h4>
           </div>
         </div>
         <div class="well well-lg">
           {{p.render_text() | safe}}
         </div>
       </div>
     </div>
   </div>
 {% endfor %}

{% endblock %}

<!-- {% for p in posts %}
  {{ p.render() | safe }}
  <br><br>
{% endfor %} -->
