{% extends "base.html" %}

{% block content %}

<div class="post">
  <div class="container-fluid">
    <div class="col-xs-1">
      <form action="/blog/{{ p.key().id() }}/like" class="vote-form" method="post">
        <div class="row">
          <button class="vote-button" type="submit" name="vote" value="1"><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i><span class="votes">{{ p.likes }}</span></button>
        </div>
      </form>
      <div class="row">
        <div class="error">
          {{ error_vote }}
        </div>
      </div>
    </div>
    <div class="col-xs-11">
      <div class="post-heading front-header">
        <div class="page-header">
          <a class="post-link" href="/blog/{{ p.key().id() }}"><h1>{{p.subject}}</h1></a>
          <h4 class="right"><small>{{p.created.strftime("%b %d, %Y")}}</small></h4>
          <h4 class="left"><small>{{p.created_by}}</small></h4>
        </div>
      </div>
      <div class="well well-lg">
        {{p.render_text() | safe}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-2 buttons">
        <div class="col-md-3 text-center">
          <a href="/blog/{{ p.key().id() }}/comment"><button type="submit" class="btn btn-sm btn-block btn-primary">Add Comment</button></a>
        </div>
        {% if creator %}
          <div class="col-md-3 text-center">
            <a href="/blog/{{ p.key().id() }}/update"><button type="submit" class="btn btn-sm btn-block btn-success">Update</button></a>
          </div>
          <div class="col-md-3 text-center">
            <form action="/blog/{{ p.key().id() }}/delete" method="post">
              <button type="submit" name="delete" value="delete" class="btn btn-sm btn-block btn-danger">Delete</button>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
    {% if p.comments %}
      <div class="col-md-12">
        {% if p.comments.count() > 0 %}
          <h2 class="text-center">Comments</h2>
          <hr>
        {% endif %}
        {% for comment in p.comments %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>{{ comment.created_by }}</strong> <span class="text-muted">commented on {{ comment.created.strftime("%b %d, %Y") }}</span>
          </div>
          <div class="panel-body">
            <div class="col-sm-10">
              <strong>{{ comment.title }}</strong>
            </div>
            {% if comment.created_by == user.name %}
              <div class="col-sm-1">
                <a class="text-right" href="/blog/{{p.key().id()}}/comment/{{comment.key().id()}}"><button type="submit" class="btn btn-sm btn-block btn-success">Edit</button></a>
              </div>
              <div class="col-sm-1">
                <form action="/blog/{{p.key().id()}}/comment/{{comment.key().id()}}/delete" method="post">
                  <button type="submit" class="btn btn-sm btn-block btn-danger">Delete</button></a>
                </form>
              </div>
            {% endif %}
            <br>
            <hr>
            <div class="col-sm-12">
              <p>{{ comment.comment }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>



{% endblock %}

<!-- <div class="post-heading">
  <div class="page-header">
    <a class="post-link" href="/blog/{{ p.key().id() }}"><h1>{{p.subject}}</h1></a>
    <h4 class="text-right"><small>{{p.created.strftime("%b %d, %Y")}}</small></h4>
    <h4 class="text-left"><small>{{p.created_by}}</small></h4>
  </div> -->
